<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

		<p>
			<ol>
				<li><a href='images/step1.png'>Copy/paste your timetable from Moongate <strong>exactly</strong> as shown, into the textbox. Press submit, and a file will be downloaded.</a></li>
				<li><a href='images/step2.png'>In Google Calendar, under My Calendars on the left, create a new calendar to store your timetable events.</a></li>
				<li><a href='images/step3.png'>Under Other Calendars, click Import Calendar.</a></li>
				<li><a href='images/step4.png'>In the dialog box, click Choose File and select the file you downloaded; click the dropdown and select the calendar you made; click Import to finish the process.</a></li>
			</ol>
		</p>

    <form id="textform" method="POST" action="/getcsv">
      <textarea placeholder="Copy/paste your timetable here" cols="80" rows="20" name="timetable" form="textform"></textarea>
      <textarea placeholder="Copy/paste cycle days here" cols="80" rows="20" name="cycledays" form="textform" hidden></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
