<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

    <form id="textform" method="POST" action="/getcsv">
      <textarea placeholder="Copy/paste your timetable here" cols="80" rows="20" name="timetable" form="textform"></textarea>
      <textarea placeholder="Copy/paste cycle days here" cols="80" rows="20" name="cycledays" form="textform" hidden></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
