<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>

		<p>
			<ol>
				<li><a href='images/step1.png'>(screenshot)</a> Copy/paste your timetable from Moongate <strong>exactly</strong> as shown, into the textbox. Press submit, and a file will be downloaded.</li>
				<li><a href='images/step2.png'>(screenshot)</a> In Google Calendar, under My Calendars on the left, create a new calendar to store your timetable events.</li>
				<li><a href='images/step3.png'>(screenshot)</a> Under Other Calendars, click Import Calendar.</li>
				<li><a href='images/step4.png'>(screenshot)</a> In the dialog box, click Choose File and select the file you downloaded; click the dropdown and select the calendar you made; click Import to finish the process.</li>
				<li><a href='images/step5.png'>(screenshot)</a> <i>Optional: To remove the events, click the dropdown menu next to your newly created calendar on the left, and select Calendar Settings. Click Permanently Delete This Calendar at the bottom.</i></li>
			</ol>
		</p>

    <form id="textform" method="POST" action="/getcsv">
      <textarea placeholder="Copy/paste your timetable here" cols="80" rows="20" name="timetable" form="textform"></textarea>
      <textarea placeholder="Copy/paste cycle days here" cols="80" rows="20" name="cycledays" form="textform" hidden></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
